<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^content-([0-9]+)-([0-9]+)-([0-9]+).html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=show&amp;catid={R:1}&amp;id={R:2}&amp;page={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^show-([0-9]+)-([0-9]+)-([0-9]+).html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=show&amp;catid={R:1}&amp;id={R:2}&amp;page={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^list-([0-9]+)-([0-9]+).html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=lists&amp;catid={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^phpcms/" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^qqcode" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^code=(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.php?m=member&amp;c=index&amp;a=public_qq_loginnew&amp;code={C:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^message$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=message&amp;c=index&amp;a=inbox" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^3.0/login.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=index&amp;a=login&amp;s=t3" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^3.0/reg.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=ajax&amp;a=register&amp;s=t3" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^register$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=ajax&amp;a=register" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^getLogin$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=index&amp;a=getLogin&amp;s=t3" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^app/loginorout.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=index&amp;a=loginorout&amp;s=t3" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^login$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=index&amp;a=login&amp;s=t3" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^logout$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=index&amp;a=logout" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^register$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=member&amp;c=index&amp;a=register" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^zxn/complex/chk$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=admin&amp;c=complex&amp;a=chk" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^zxn/other" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=other" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^zxn/dz$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=dz" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^zxn/dzn$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=dzn" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^zxn/color$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=color" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^zxn/rd$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=tyarea" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^zxn/rdview$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=tyrdview" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^zxn/nav$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=nav" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^zxn/ps$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=webps" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 24">
                    <match url="^zxn/gm$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=gm" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^zxn/gdbg$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=gdbg" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^zxn/banner$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=banner" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^zxn/banner/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=banner" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 28">
                    <match url="^zxn/banner/([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=banner&amp;act={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 29">
                    <match url="^zxn$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxnindex&amp;c=index&amp;a=init" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30">
                    <match url="^zxn/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c={R:1}&amp;a={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 31">
                    <match url="^zxn/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=v2" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 32">
                    <match url="^zxn/index$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=v2" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 33">
                    <match url="^zxn/index" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=init" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 34">
                    <match url="^3.0/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=init" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 35">
                    <match url="^3.0/index$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=init" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 36">
                    <match url="^3.0/index.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=init" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 37">
                    <match url="^3.0/previewP([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=com&amp;a=previewP&amp;act={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 38">
                    <match url="^3.0/itemstyle.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=com&amp;a=itemstyle" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 39">
                    <match url="^3.0/itemStylePreview.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=com&amp;a=itemStylePreview" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 40">
                    <match url="^3.0/itemarr.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=com&amp;a=itemarr" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 41">
                    <match url="^3.0/gii.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=form&amp;a=gii" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 42">
                    <match url="^3.0/giiforp.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=form&amp;a=giiforp" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 43">
                    <match url="^3.0/gcc.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=form&amp;a=gcc" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 44">
                    <match url="^3.0/savelist.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=savelist" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 45">
                    <match url="^3.0/saveInput.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=saveInput" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 46">
                    <match url="^3.0/saveControlForm.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=saveControlForm" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 47">
                    <match url="^3.0/saveControl.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=saveControl" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 48">
                    <match url="^3.0/save.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=save" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 49">
                    <match url="^3.0/insertcode.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=api&amp;a=insertcode&amp;v=3" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 50">
                    <match url="^3.0/getsnap.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=api&amp;a=getsnap&amp;v=3" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 51">
                    <match url="^3.0/getstyle.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=com&amp;a=getstyle" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 52">
                    <match url="^3.0/useCode.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=useCode" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 53">
                    <match url="^3.0/load.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=load" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 54">
                    <match url="^3.0/([a-zA-Z]+)/th" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=comment&amp;c=comment_model&amp;a=Control" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 55">
                    <match url="^3.0/previewZ([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=save&amp;c=index&amp;a=previewZ&amp;act={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 56">
                    <match url="^3.0/preview.php" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=preview" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 57">
                    <match url="^zxd/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c={R:1}&amp;a={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 58">
                    <match url="^zxd$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=index&amp;a=index" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 59">
                    <match url="^zxd/index" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=zxd" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 60">
                    <match url="^zxd/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=index&amp;a=zxd" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 61">
                    <match url="^zxd/previewI/([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=com&amp;a=previewI&amp;act={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 62">
                    <match url="^zxd/preview$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=com&amp;a=preview" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 63">
                    <match url="^zxd/previewP([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=com&amp;a=previewI&amp;act={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 64">
                    <match url="^zxd/load" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=api&amp;a=load" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 65">
                    <match url="^zxd/save$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=api&amp;a=save" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 66">
                    <match url="^zxd/saveInput$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=api&amp;a=saveInput" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 67">
                    <match url="^zxd/insertjdcode$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=api&amp;a=insertjdcode" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 68">
                    <match url="^zxd/useCode$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=com&amp;a=useCode" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 69">
                    <match url="^zxd/gis$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=com&amp;a=gis" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 70">
                    <match url="^zxd/gisarr$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxn&amp;c=com&amp;a=gisarr" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 71">
                    <match url="^zxd/server$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=com&amp;a=server" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 72">
                    <match url="^zxd/([a-zA-Z0-9_]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=zxd&amp;c=index&amp;a=parts&amp;act={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 73">
                    <match url="^fontimg/font/create([0-9_]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=font&amp;c=index&amp;a=create" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 74">
                    <match url="^fontimg/font/preview([0-9_]+)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=font&amp;c=index&amp;a=preview" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 75">
                    <match url="^fontimg/font/upload" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=font&amp;c=index&amp;a=upload" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 76">
                    <match url="^fontimg/font/image/fileName=(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=font&amp;c=index&amp;a=image&amp;act={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
