<form id="scbForm" method="post" >
<div class="form-tabs-title">
	<div class="formlayout" style="height:150px;">
		<div class="form-tabs-content">
			<div style="height:100%;">
				<ul class="setform" style="width:370px;">
					<li style="width:370px;">
						<label for="scbFolderName">存档名称：</label>
						<input id="scbFolderName" class="setinput " type="text" title="" junezx_vali_str="true" name="scbFolderName" value="<?=$_POST['dName']?>" />
											</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</form>
