{template "content","header"}
<!--main-->
<!--[if lt IE 9]>
	<script src="/statics/banner/js/html5.js" ></script>
<![endif]-->

<script charset="utf-8" type="text/javascript" src="/statics/banner/js/jquery/jquery-1.8.0.min.js" ></script>
<script charset="utf-8" type="text/javascript" src="/statics/banner/js/jquery/jquery.json-2.4.js" ></script>
<script charset="utf-8" type="text/javascript" src="/statics/banner/js/jquery/jquery.extend.js" ></script>
<link rel="stylesheet" href="/statics/banner/js/jquery/loadmask/jquery.loadmask.css" >
<script type="text/javascript" src="/statics/banner/js/jquery/loadmask/jquery.loadmask.js" ></script>
<script type="text/javascript">
var baseURL = '';
var ctx = '';
</script>
<script type="text/javascript" src="/statics/banner/js/temp/js_435cf8bb6e2d971da502be3f675a65d7.js" ></script>
<style type="text/css">
html {
    zoom: expression(function(ele) {
    	ele.style.zoom ="1";
    	document.execCommand("BackgroundImageCache",false,true);
	}(this));
}
</style>
<!--[if lt IE 7]>
<style type="text/css">
	img.png {background-image: expression(this.runtimeStyle.backgroundImage = "none",this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",this.src = "/image/1.gif")}
</style>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/statics/banner/css/css_6731a868df4e0fad3b4ecbd64d3145ed.css" >
<link rel="stylesheet" type="text/css" href="/statics/banner/css/css_b2c7ee6b52a01706fc4f159745a50a36.css" >
<script type="text/javascript" src="http://g.tbcdn.cn/kissy/k/1.3.2/seed-min.js" ></script>
<script type="text/javascript" src="http://a.tbcdn.cn/p/snsdk/core.js" ></script>
<script type="text/javascript" src="/statics/banner/js/kissy/easycountdown.js" ></script>
<script charset="utf-8" type="text/javascript" src="/statics/banner/js/jquery/jquery.color.min.js" ></script>
<script charset="utf-8" type="text/javascript" src="/statics/banner/js/jquery/jquery-easyui-1.4.5/easyloader.js" ></script>
<script charset="utf-8" type="text/javascript" src="/statics/banner/js/jquery/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js" ></script>
<link rel="stylesheet" type="text/css" href="/statics/banner/js/jquery/jquery-easyui-1.4.5/themes/icon.css"  />
<link rel="stylesheet" type="text/css" href="/statics/banner/js/jquery/jquery-easyui-1.4.5/themes/default/window.css"  />
<link rel="stylesheet" type="text/css" href="/statics/banner/css/css_66e72672875f563fa236faa8b4fa27b8.css" >
<script type="text/javascript" src="/statics/banner/js/temp/js_7700e255417a58c62a96d970a5865802.js" ></script>
<script charset="utf-8" type="text/javascript" src="/statics/banner/js/jquery/ColorPicker/js/colorpicker.js" ></script>
<link rel="stylesheet" type="text/css" href="/statics/banner/js/jquery/ColorPicker/css/colorpicker.css"  />
<link rel="stylesheet" type="text/css" href="/statics/banner/js/jquery/ColorPicker/css/theme-white.css"  />
<script type="text/javascript" src="/statics/banner/js/temp/js_be4c06a851ecb9dcdc9fa05cd103a0a4.js" ></script>
<link rel="stylesheet" type="text/css" href="/statics/banner/css/w_tools_logo_edit.css" >
<script type="text/javascript" src="/statics/banner/js/temp/w_tools_logo_edit.js" ></script>
<link type="text/css" rel="stylesheet" href="/statics/grsc/css/blue.css" />
<script type="text/javascript" src="/statics/grsc/blue.js"></script>

<div id="content" style="padding-top:20px">


<script type="text/javascript">
	var data = {$star};
</script>
<div id="tools-container">
	<input type="hidden" id="logoId" value="2">
	<input type="hidden" id="isDemo" value="true">
	<p class="title">
		<span>标题：</span><input id="logoTitle" value="{$title}">
	</p>
	<div id="tools-logo">
		<div class="um-hd">
			<div id="font" class="zx-combox">
				<div class="zx-combox-body" data-options="width:115">
					<div class="zx-combox-text">字体</div>
					<div class="zx-combox-arrow"></div>
				</div>
				<div class="zx-combox-items" data-options="width:200,height:400">
					
						<div class="zx-combox-item" data-options="text:'Arial',value:'Arial'">
							<span style="font-weight:bold;color:#000">Arial</span><br/><img src="/statics/banner/image/fonts/Arial.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Impact',value:'Impact'">
							<span style="font-weight:bold;color:#000">Impact</span><br/><img src="/statics/banner/image/fonts/Impact.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Times New Roman',value:'Times New Roman'">
							<span style="font-weight:bold;color:#000">Times New Roman</span><br/><img src="/statics/banner/image/fonts/Times New Roman.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Georgia',value:'Georgia'">
							<span style="font-weight:bold;color:#000">Georgia</span><br/><img src="/statics/banner/image/fonts/Georgia.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Verdana',value:'Verdana'">
							<span style="font-weight:bold;color:#000">Verdana</span><br/><img src="/statics/banner/image/fonts/Verdana.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'04B08',value:'04B08'">
							<span style="font-weight:bold;color:#000">04B08</span><br/><img src="/statics/banner/image/fonts/04B08.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Arsis-DReg-Regular',value:'Arsis-DReg-Regular'">
							<span style="font-weight:bold;color:#000">Arsis-DReg-Regular</span><br/><img src="/statics/banner/image/fonts/Arsis-DReg-Regular.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'AsukaCapsSSK-Regular',value:'AsukaCapsSSK-Regular'">
							<span style="font-weight:bold;color:#000">AsukaCapsSSK-Regular</span><br/><img src="/statics/banner/image/fonts/AsukaCapsSSK-Regular.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Bonnet',value:'Bonnet'">
							<span style="font-weight:bold;color:#000">Bonnet</span><br/><img src="/statics/banner/image/fonts/Bonnet.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Didot-HTF-B42',value:'Didot-HTF-B42'">
							<span style="font-weight:bold;color:#000">Didot-HTF-B42</span><br/><img src="/statics/banner/image/fonts/Didot-HTF-B42.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'FZDBSJW',value:'FZDBSJW'">
							<span style="font-weight:bold;color:#000">FZDBSJW</span><br/><img src="/statics/banner/image/fonts/FZDBSJW.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'ice_sticks',value:'ice_sticks'">
							<span style="font-weight:bold;color:#000">ice_sticks</span><br/><img src="/statics/banner/image/fonts/ice_sticks.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'LetterGothicStd',value:'LetterGothicStd'">
							<span style="font-weight:bold;color:#000">LetterGothicStd</span><br/><img src="/statics/banner/image/fonts/LetterGothicStd.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'FFF Tusj',value:'FFF Tusj'">
							<span style="font-weight:bold;color:#000">FFF Tusj</span><br/><img src="/statics/banner/image/fonts/FFF Tusj.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Ms Madi ROB',value:'Ms Madi ROB'">
							<span style="font-weight:bold;color:#000">Ms Madi ROB</span><br/><img src="/statics/banner/image/fonts/Ms Madi ROB.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'FZCQJW',value:'FZCQJW'">
							<span style="font-weight:bold;color:#000">FZCQJW</span><br/><img src="/statics/banner/image/fonts/FZCQJW.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'FZHPJW',value:'FZHPJW'">
							<span style="font-weight:bold;color:#000">FZHPJW</span><br/><img src="/statics/banner/image/fonts/FZHPJW.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'SNOWREN建刚体',value:'SNOWREN建刚体'">
							<span style="font-weight:bold;color:#000">SNOWREN建刚体</span><br/><img src="/statics/banner/image/fonts/SNOWREN.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'CHOPS',value:'CHOPS'">
							<span style="font-weight:bold;color:#000">CHOPS</span><br/><img src="/statics/banner/image/fonts/CHOPS.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'Filxgirl',value:'Filxgirl'">
							<span style="font-weight:bold;color:#000">Filxgirl</span><br/><img src="/statics/banner/image/fonts/Filxgirl.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'仿宋',value:'仿宋'">
							<span style="font-weight:bold;color:#000">仿宋</span><br/><img src="/statics/banner/image/fonts/FangSong.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'创艺简标宋',value:'创艺简标宋'">
							<span style="font-weight:bold;color:#000">创艺简标宋</span><br/><img src="/statics/banner/image/fonts/ChuangYiJianBiaoTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'宋体',value:'宋体'">
							<span style="font-weight:bold;color:#000">宋体</span><br/><img src="/statics/banner/image/fonts/SongTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'微软雅黑',value:'微软雅黑'">
							<span style="font-weight:bold;color:#000">微软雅黑</span><br/><img src="/statics/banner/image/fonts/WeiRuanYaHei.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'文鼎CS长宋繁',value:'文鼎CS长宋繁'">
							<span style="font-weight:bold;color:#000">文鼎CS长宋繁</span><br/><img src="/statics/banner/image/fonts/WenDingCSChangSongFan.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'方正正准黑简体',value:'方正正准黑简体'">
							<span style="font-weight:bold;color:#000">方正正准黑简体</span><br/><img src="/statics/banner/image/fonts/FangZhengZhengZhunHeiJianTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'方正正纤黑简体',value:'方正正纤黑简体'">
							<span style="font-weight:bold;color:#000">方正正纤黑简体</span><br/><img src="/statics/banner/image/fonts/FangZhengZhengQianHeiJianTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'方正正黑简体',value:'方正正黑简体'">
							<span style="font-weight:bold;color:#000">方正正黑简体</span><br/><img src="/statics/banner/image/fonts/FangZhengZhengHeiJianTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'时尚中黑简体',value:'时尚中黑简体'">
							<span style="font-weight:bold;color:#000">时尚中黑简体</span><br/><img src="/statics/banner/image/fonts/ShiShangZhongHeiJianTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'楷体',value:'楷体'">
							<span style="font-weight:bold;color:#000">楷体</span><br/><img src="/statics/banner/image/fonts/KaiTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'黑体',value:'黑体'">
							<span style="font-weight:bold;color:#000">黑体</span><br/><img src="/statics/banner/image/fonts/HeiTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'幼圆',value:'幼圆'">
							<span style="font-weight:bold;color:#000">幼圆</span><br/><img src="/statics/banner/image/fonts/YouYuan.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'启功体-简',value:'启功体-简'">
							<span style="font-weight:bold;color:#000">启功体-简</span><br/><img src="/statics/banner/image/fonts/LouLiTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'启功体-繁',value:'启功体-繁'">
							<span style="font-weight:bold;color:#000">启功体-繁</span><br/><img src="/statics/banner/image/fonts/LouLiTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'萝莉体',value:'萝莉体'">
							<span style="font-weight:bold;color:#000">萝莉体</span><br/><img src="/statics/banner/image/fonts/LouLiTi.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'新蒂小丸子小学版',value:'新蒂小丸子小学版'">
							<span style="font-weight:bold;color:#000">新蒂小丸子小学版</span><br/><img src="/statics/banner/image/fonts/XinDiXiaoWanZiXiaoXueBan.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'新蒂下午茶基本版',value:'新蒂下午茶基本版'">
							<span style="font-weight:bold;color:#000">新蒂下午茶基本版</span><br/><img src="/statics/banner/image/fonts/XinDiXiaWuChaJiBenBan.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'造字工坊俊雅',value:'造字工坊俊雅'">
							<span style="font-weight:bold;color:#000">造字工坊俊雅</span><br/><img src="/statics/banner/image/fonts/ZhaoZiGongFangJunYa.png" >
						</div>
					
						<div class="zx-combox-item" data-options="text:'造字工房悦黑细体',value:'造字工房悦黑细体'">
							<span style="font-weight:bold;color:#000">造字工房悦黑细体</span><br/><img src="/statics/banner/image/fonts/ZhaoZiGongFangYueHeiXiTi.png" >
						</div>
					
				</div>
			</div>
			<div id="size" class="zx-combox">
				<div class="zx-combox-body" data-options="width:60">
					<div class="zx-combox-text">字号</div>
					<div class="zx-combox-arrow"></div>
				</div>
				<div class="zx-combox-items" data-options="width:120,height:400">
					<div class='zx-combox-item' data-options="text:'8px',value:'8'">
<span style='font-size:8px;'>8</span>
</div>
<div class='zx-combox-item' data-options="text:'9px',value:'9'">
<span style='font-size:9px;'>9</span>
</div>
<div class='zx-combox-item' data-options="text:'10px',value:'10'">
<span style='font-size:10px;'>10</span>
</div>
<div class='zx-combox-item' data-options="text:'11px',value:'11'">
<span style='font-size:11px;'>11</span>
</div>
<div class='zx-combox-item' data-options="text:'12px',value:'12'">
<span style='font-size:12px;'>12</span>
</div>
<div class='zx-combox-item' data-options="text:'13px',value:'13'">
<span style='font-size:13px;'>13</span>
</div>
<div class='zx-combox-item' data-options="text:'14px',value:'14'">
<span style='font-size:14px;'>14</span>
</div>
<div class='zx-combox-item' data-options="text:'15px',value:'15'">
<span style='font-size:15px;'>15</span>
</div>
<div class='zx-combox-item' data-options="text:'16px',value:'16'">
<span style='font-size:16px;'>16</span>
</div>
<div class='zx-combox-item' data-options="text:'17px',value:'17'">
<span style='font-size:17px;'>17</span>
</div>
<div class='zx-combox-item' data-options="text:'18px',value:'18'">
<span style='font-size:18px;'>18</span>
</div>
<div class='zx-combox-item' data-options="text:'19px',value:'19'">
<span style='font-size:19px;'>19</span>
</div>
<div class='zx-combox-item' data-options="text:'20px',value:'20'">
<span style='font-size:20px;'>20</span>
</div>
<div class='zx-combox-item' data-options="text:'21px',value:'21'">
<span style='font-size:21px;'>21</span>
</div>
<div class='zx-combox-item' data-options="text:'22px',value:'22'">
<span style='font-size:22px;'>22</span>
</div>
<div class='zx-combox-item' data-options="text:'23px',value:'23'">
<span style='font-size:23px;'>23</span>
</div>
<div class='zx-combox-item' data-options="text:'24px',value:'24'">
<span style='font-size:24px;'>24</span>
</div>
<div class='zx-combox-item' data-options="text:'25px',value:'25'">
<span style='font-size:25px;'>25</span>
</div>
<div class='zx-combox-item' data-options="text:'26px',value:'26'">
<span style='font-size:26px;'>26</span>
</div>
<div class='zx-combox-item' data-options="text:'27px',value:'27'">
<span style='font-size:27px;'>27</span>
</div>
<div class='zx-combox-item' data-options="text:'28px',value:'28'">
<span style='font-size:28px;'>28</span>
</div>
<div class='zx-combox-item' data-options="text:'29px',value:'29'">
<span style='font-size:29px;'>29</span>
</div>
<div class='zx-combox-item' data-options="text:'30px',value:'30'">
<span style='font-size:30px;'>30</span>
</div>
<div class='zx-combox-item' data-options="text:'31px',value:'31'">
<span style='font-size:31px;'>31</span>
</div>
<div class='zx-combox-item' data-options="text:'32px',value:'32'">
<span style='font-size:32px;'>32</span>
</div>
<div class='zx-combox-item' data-options="text:'33px',value:'33'">
<span style='font-size:33px;'>33</span>
</div>
<div class='zx-combox-item' data-options="text:'34px',value:'34'">
<span style='font-size:34px;'>34</span>
</div>
<div class='zx-combox-item' data-options="text:'35px',value:'35'">
<span style='font-size:35px;'>35</span>
</div>
<div class='zx-combox-item' data-options="text:'36px',value:'36'">
<span style='font-size:36px;'>36</span>
</div>
<div class='zx-combox-item' data-options="text:'37px',value:'37'">
<span style='font-size:37px;'>37</span>
</div>
<div class='zx-combox-item' data-options="text:'38px',value:'38'">
<span style='font-size:38px;'>38</span>
</div>
<div class='zx-combox-item' data-options="text:'39px',value:'39'">
<span style='font-size:39px;'>39</span>
</div>
<div class='zx-combox-item' data-options="text:'40px',value:'40'">
<span style='font-size:40px;'>40</span>
</div>
<div class='zx-combox-item' data-options="text:'41px',value:'41'">
<span style='font-size:41px;'>41</span>
</div>
<div class='zx-combox-item' data-options="text:'42px',value:'42'">
<span style='font-size:42px;'>42</span>
</div>
<div class='zx-combox-item' data-options="text:'43px',value:'43'">
<span style='font-size:43px;'>43</span>
</div>
<div class='zx-combox-item' data-options="text:'44px',value:'44'">
<span style='font-size:44px;'>44</span>
</div>
<div class='zx-combox-item' data-options="text:'45px',value:'45'">
<span style='font-size:45px;'>45</span>
</div>
<div class='zx-combox-item' data-options="text:'46px',value:'46'">
<span style='font-size:46px;'>46</span>
</div>
<div class='zx-combox-item' data-options="text:'47px',value:'47'">
<span style='font-size:47px;'>47</span>
</div>
<div class='zx-combox-item' data-options="text:'48px',value:'48'">
<span style='font-size:48px;'>48</span>
</div>
<div class='zx-combox-item' data-options="text:'49px',value:'49'">
<span style='font-size:49px;'>49</span>
</div>
<div class='zx-combox-item' data-options="text:'50px',value:'50'">
<span style='font-size:50px;'>50</span>
</div>
<div class='zx-combox-item' data-options="text:'51px',value:'51'">
<span style='font-size:51px;'>51</span>
</div>
<div class='zx-combox-item' data-options="text:'52px',value:'52'">
<span style='font-size:52px;'>52</span>
</div>
<div class='zx-combox-item' data-options="text:'53px',value:'53'">
<span style='font-size:53px;'>53</span>
</div>
<div class='zx-combox-item' data-options="text:'54px',value:'54'">
<span style='font-size:54px;'>54</span>
</div>
<div class='zx-combox-item' data-options="text:'55px',value:'55'">
<span style='font-size:55px;'>55</span>
</div>
<div class='zx-combox-item' data-options="text:'56px',value:'56'">
<span style='font-size:56px;'>56</span>
</div>
<div class='zx-combox-item' data-options="text:'57px',value:'57'">
<span style='font-size:57px;'>57</span>
</div>
<div class='zx-combox-item' data-options="text:'58px',value:'58'">
<span style='font-size:58px;'>58</span>
</div>
<div class='zx-combox-item' data-options="text:'59px',value:'59'">
<span style='font-size:59px;'>59</span>
</div>
<div class='zx-combox-item' data-options="text:'60px',value:'60'">
<span style='font-size:60px;'>60</span>
</div>
<div class='zx-combox-item' data-options="text:'61px',value:'61'">
<span style='font-size:61px;'>61</span>
</div>
<div class='zx-combox-item' data-options="text:'62px',value:'62'">
<span style='font-size:62px;'>62</span>
</div>
<div class='zx-combox-item' data-options="text:'63px',value:'63'">
<span style='font-size:63px;'>63</span>
</div>
<div class='zx-combox-item' data-options="text:'64px',value:'64'">
<span style='font-size:64px;'>64</span>
</div>
<div class='zx-combox-item' data-options="text:'65px',value:'65'">
<span style='font-size:65px;'>65</span>
</div>
<div class='zx-combox-item' data-options="text:'66px',value:'66'">
<span style='font-size:66px;'>66</span>
</div>
<div class='zx-combox-item' data-options="text:'67px',value:'67'">
<span style='font-size:67px;'>67</span>
</div>
<div class='zx-combox-item' data-options="text:'68px',value:'68'">
<span style='font-size:68px;'>68</span>
</div>
<div class='zx-combox-item' data-options="text:'69px',value:'69'">
<span style='font-size:69px;'>69</span>
</div>
<div class='zx-combox-item' data-options="text:'70px',value:'70'">
<span style='font-size:70px;'>70</span>
</div>
<div class='zx-combox-item' data-options="text:'71px',value:'71'">
<span style='font-size:71px;'>71</span>
</div>
<div class='zx-combox-item' data-options="text:'72px',value:'72'">
<span style='font-size:72px;'>72</span>
</div>
<div class='zx-combox-item' data-options="text:'73px',value:'73'">
<span style='font-size:73px;'>73</span>
</div>
<div class='zx-combox-item' data-options="text:'74px',value:'74'">
<span style='font-size:74px;'>74</span>
</div>
<div class='zx-combox-item' data-options="text:'75px',value:'75'">
<span style='font-size:75px;'>75</span>
</div>
<div class='zx-combox-item' data-options="text:'76px',value:'76'">
<span style='font-size:76px;'>76</span>
</div>
<div class='zx-combox-item' data-options="text:'77px',value:'77'">
<span style='font-size:77px;'>77</span>
</div>
<div class='zx-combox-item' data-options="text:'78px',value:'78'">
<span style='font-size:78px;'>78</span>
</div>
<div class='zx-combox-item' data-options="text:'79px',value:'79'">
<span style='font-size:79px;'>79</span>
</div>
<div class='zx-combox-item' data-options="text:'80px',value:'80'">
<span style='font-size:80px;'>80</span>
</div>

				</div>
			</div>

			<a id="add" href="javascript:void(0)" class="um-btn" title="插入文字">&nbsp;</a>
	        <a id="fontBlod" href="javascript:void(0)" class="um-btn" title="粗体">&nbsp;</a>
	        <a id="fontItalic" href="javascript:void(0)" class="um-btn" title="斜体">&nbsp;</a>
	        <a id="fontUnderline" href="javascript:void(0)" class="um-btn" title="下划线">&nbsp;</a>
	        <a id="fontStrikethrough" href="javascript:void(0)" class="um-btn" title="删除线">&nbsp;</a>
	        <a id="fontColorPicker" href="javascript:void(0)" class="um-btn" title="字体颜色">&nbsp;</a>
	        <a id="fontAlignLeft" href="javascript:void(0)" class="um-btn" title="水平居左对齐">&nbsp;</a>
	        <a id="fontAlignCenter" href="javascript:void(0)" class="um-btn" title="水平居中对齐">&nbsp;</a>
	        <a id="fontAlignRight" href="javascript:void(0)" class="um-btn" title="水平居右对齐">&nbsp;</a>
	        <a id="fontVerticalAlignMiddle" href="javascript:void(0)" class="um-btn" title="垂直居中对齐">&nbsp;</a>
			<a id="btn-video" href="javascript:if(confirm('http://www.tudou.com/programs/view/1dw3sgpBoXI/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.tudou.com/programs/view/1dw3sgpBoXI/'"  class="um-btn" target="_blank">查看演示视频</a>

			<div id="logoBtnWarp">
		        <a id="logoPic" href="javascript:void(0)" class="um-btn" title="店招图片">&nbsp;</a>
		        <a id="logoPicNull" href="javascript:void(0)" class="um-btn" title="清除店招图片">&nbsp;</a>
		        <a id="logoBgColorPicker" href="javascript:void(0)" class="um-btn" title="店招背景颜色">&nbsp;</a>
		        <a id="logoBgColorNull" href="javascript:void(0)" class="um-btn" title="清除店招背景颜色">&nbsp;</a>

				<span id="widthWarp">宽度<input id="logoWidth" value="950" title="输入数字">px</span>
				<span id="heightWarp">高度<input id="logoHeight" value="120" title="输入数字">px</span>
			</div>
		</div>
		<div class="um-bd">
			<div class="um-warp">
				<div id="logo" class="um-cp"></div>
			</div>
			<div class="nav-box um-clear" style="">
				<span class="um-fl">导航颜色</span>
				<b id="navbg" class="um-fl" style="background:#131216;"></b>
				<span class="um-fl">，导航高度</span>
				<input class="um-fl" type="text" id="navHeight" value="30">
				<span class="um-fl" style="margin-left:3px;">px(取值范围20-120)</span>
			</div>
			<div class="btn-box">
				<div class="um-ib um-create" title="点击将设计好的店招生成图片文件">生成图片</div>
				<div class="um-ib um-preview" title="点击预览设计好的店招图片">预览图片</div>
				<div class="um-ib um-head" title="点击设计配套的页头背景" style="display:none">设计配套的页头背景</div>
				<div class="um-ib um-save" title="点击将此样例保存为自己的店招设计" style="display:none">保存</div>
				
				
			</div>
		</div>
	</div>

	<div id="tools-help">
		<div class="hd">
			使用帮助
		</div>
		<div class="bd" style="height:391px;">
			<img src="/statics/banner/image/tools/logo-help.gif"  alt="">
		</div>
	</div>

	<div style="display:none;">
		<div id="callback-window">
			<div class="win-body">
				<p>保存成功,可到<a id="callback-link" href="#" target="_top">我设计的店招</a>中查看.</p>
			</div>
			<div class="win-btn">
				<a id="win-close" class="um-ib" href="javascript:void(0)">关闭</a>
			</div>
		</div>
	</div>
</div>


</div>

{template "content","footer"}