

body{font: 12px/1.2 -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif; background:#f2f3f5;height:100%}

.header{position: fixed;z-index: 999;}
.head{width: 100%;min-width: 1240px;}


.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.cf:after{display: table;content:" ";clear:both;}
#lbox {width:240px; height:100%;background:#fff;position: fixed;left:0;top:0;padding-top: 60px;z-index: 99}
#lbox .title{height:80px; font-size:24px; color:#b2b2b2;line-height: 80px;padding-left:30px;}
#lbox .lbox_ul li{width:240px; height:50px; line-height:50px; color:#444444;font-size:14px;position:relative;cursor: pointer;}
#lbox .lbox_ul li:hover{background: #f2f2f2;}
#lbox .lbox_ul li span{height:50px;width:5px;background:#ff7739;display: inline-block;position:absolute;display: none;}
#lbox .lbox_ul li b{height:20px;background: #b0bfc6;color:#fff;border-radius: 10px;padding:0 5px;margin-left:8px;}
#lbox .lbox_ul li:hover span{display: block;}
#lbox .lbox_ul li img{padding-left:30px;}
#lbox .lbox_ul li:hover a{color:#ff7739;}
#lbox form{width:200px;height:35px; border-radius: 5px;border:1px solid #efefef;margin:60px 0 0 20px; box-shadow: 2px 2px 10px #ddd;}
#lbox form input{height:35px;box-sizing:border-box;font-size:14px;border:none;outline: none;padding-left:20px;color:#888;width:160px;}
#lbox form button{cursor:pointer;background: url(../images/fdj.png) no-repeat 0px 4px; width:35px;height:35px;float:right;border:none;}
#lbox .info{margin-top:120px;padding-left:30px;}
#lbox .info p{margin-top:20px;font-size:16px;color:#222222;}
#lbox .info span{font-size:14px; color:#888888;margin-right:10px;}
#j_content{width:100%;overflow: hidden;}
#rbox{min-height:800px;background: #f2f3f5;box-sizing:border-box;padding:50px 50px 50px 290px;margin-top: 60px;}
#rbox h3{font-size:24px; color:#666;padding-bottom:30px;}

#rbox .dppro .video li{width:320px;box-sizing:border-box;float:left;background: #fff;margin:0 30px 40px 0;list-style: none;}
#rbox .dppro .video li .img{margin:5px;display: block;width:310px; height:180px;overflow: hidden;}
#rbox .dppro .video li .img span{ display: block;width:100%; height:100%;opacity: 0;}
#rbox .dppro .video li .img:hover span{opacity: 1;}
#rbox .dppro .video li:hover{box-shadow: 0px 0px 9px #ddd;}
#rbox .dppro .video li .tit{padding:15px;margin-top:15px;}
#rbox .dppro .video li .tit span{font-size:16px;color:#444;}
#rbox .dppro .video li .tit b{float:right;color:#888;font-size:14px;font-weight: normal;padding-left:20px;background: url(../images/play.jpg)no-repeat 3px 3px;}
#rbox .dppro .video li .down{padding:0 15px;margin-top:10px;color:#888;font-size:14px;}
#rbox .dppro .video li .down a:before{content:"";display: inline-block;width:5px;height:5px;background:#bcbcbc;position:relative;top:-2px;left: 0px;margin-right:5px;}
#rbox .dppro .video li .psf{margin-right:25px;}

#rbox .dppro .problem li{font-size:14px;margin-left:15px;list-style:decimal;}
#rbox .dppro .problem li a{height:40px;line-height:40px; font-size:14px;}
#rbox .dppro .problem li a:hover{color:#f60;}
#rbox .dppro .problem li img{margin:-15px 0 0 5px;display: inline-block;}

#rbox .channel_box {width:1200px;}
#rbox .channel_box .tip_ul li{color:#888;padding-top:5px;font-size:14px;}
#rbox .channel_box .chan_title{color:#474647;font-size:14px;}
#rbox .channel_box .tabs{width:1090px;border-bottom:1px solid #888;height:40px;margin-top:75px;}
#rbox .channel_box .tabs a{float:left;  font-size:18px; color:#444;  font-weight: bold; height:36px;line-height:36px;padding:0 20px;}
#rbox .channel_box .tabs a.active{border-bottom: 4px #888 solid;}
#rbox .channel_box .tabs a:hover{text-decoration: none;border-bottom: 4px #888 solid;}
#rbox .list-inner{overflow: hidden;}
#rbox .list-inner li{width:210px;text-align: center;border: 1px solid #ddd;float: left;margin: 30px 30px 0px 0px;height:120px;box-sizing: border-box;background: #fff;transition:0.5s;position:relative;top:0px;box-shadow: 0px 0px 0px #ddd;}

#rbox .list-inner li:hover{top:-5px;box-shadow: 2px 5px 5px #ddd;}
#rbox .list-inner li .pic{padding-bottom: 15px;padding-top: 22px;height: 50px;border-bottom:1px dotted #ddd;}
#rbox .list-inner li .word{background: #f7f7f7;height: 30px;line-height: 30px;}
#rbox .list-inner li .word span{float: left;margin-left: 10px;color: #444;font-weight: bold;text-align: left;width: 90px;font-size:14px;}
#rbox .list-inner li .word img{position: relative;top: 0px;cursor: pointer;left: 20px;}

