<?
$data=$_POST;


 if($data['active']==-1){$active=3;}else{$active=$data['active'];}
?>
<form id="tForm" form-data="job" method="post" >
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">内容设置</a></li>
		<li><a href="#tabs-2">样式设置</a></li>
	</ul>
	<div id="tabs-1">
		<ul class="setform">
			<li>
				<label for="i1">应用ID：</label>
				<input id="i1" class="setinput disabled" type="text" title="自动生成，无需填写" readonly name="appID" value="<?=$data['appID']?>" />
			</li>
			<li>
				<label for="i2">默认显示图片：</label>
				<input id="i2" class="setinput" type="text" title="默认显示的图片。请输入淘宝图片空间里的图片地址" name="pSrc" value="<?=$data['pSrc']?>" />
				<input id="autoSize" class="chkBox" type="checkbox" name="autoSize" value="yes" checked="checked" <? if($data['autoSize']=='yes'){echo'checked="checked"';} ?>/>
				<label for="autoSize" class="chkLabel">自动高宽</label>
			</li>
			<li>
				<label for="i3">经过变换图片：</label>
				<input id="i3" class="setinput" type="text" title="鼠标经过时的变换图片，留空则为无切换效果的单图。请输入淘宝图片空间里的图片地址" name="oppoSrc" value="<?=$data['oppoSrc']?>" />
			</li>
			<li>
				<label for="rd1">链接类型：</label>
				<div id="rd1">
					<input type="radio" id="r1" name="oppoLinkMode" value="ptlink" <? if($data['oppoLinkMode']=='ptlink'){echo'checked="checked"';} ?> />
					<label for="r1" title="普通链接，请在下方输入链接地址">普通</label>
					<input type="radio" id="r2" name="oppoLinkMode" value="gzlink" <? if($data['oppoLinkMode']=='gzlink'){echo'checked="checked"';} ?> />
					<label for="r2" title="京东关注链接，请在下方输入宝贝ID">关注</label>
					<input type="radio" id="r3" name="oppoLinkMode" value="wwlink" <? if($data['oppoLinkMode']=='wwlink'){echo'checked="checked"';} ?>>
					<label for="r3" title="京东咚咚链接，请在下方输入店铺ID">咚咚</label>
					<input type="radio" id="r4" name="oppoLinkMode" value="mdlink" <? if($data['oppoLinkMode']=='mdlink'){echo'checked="checked"';} ?> />
					<label for="r4" title="锚点链接，请在下方选择需要跳转到的锚点">锚点</label>
				</div>
			</li>
			
			<li class="ptlink oppoLinkMode">
				<label for="i4">链接地址：</label>
				<input id="i4" class="setinput" type="text" title="请输入图片的链接地址，如：某个宝贝的页面地址。" name="href" value="<?=$data['href']?>" />
			</li>
			<li class="ptlink oppoLinkMode">
				<label for="hrefMode">链接打开方式：</label>
				<select id="hrefMode" name="hrefMode">
                    <option value="_self" <? if($data['hrefMode']=='_self'){echo'selected="selected"';} ?>>原窗口打开</option>
					<option value="_blank" <? if($data['hrefMode']=='_blank'){echo'selected="selected"';} ?>>新窗口打开</option>
				</select>
			</li>
			
			<li class="gzlink oppoLinkMode">
				<label for="i5">宝贝ID：</label>
				<input id="i5" class="setinput" type="text" title="请输入需要关注的宝贝ID。" name="attentionID" value="<?=$data['attentionID']?>" />
			</li>
			
			<li class="wwlink oppoLinkMode">
				<label for="i4">店铺ID：</label>
				<input id="i4" class="setinput" type="text" title="请输入店铺ID。" name="wangID" value="<?=$data['wangID']?>" />
			</li>
			
			<li class="mdlink oppoLinkMode">
				<label for="anchorSelect">点击后跳转至：</label>
				<select id="anchorSelect" name="anchorSelect">
					<?
					 $anchorNamx = $data['anchorSelect'];
                     $anchorName = explode(',',$anchorNamx);
					if($anchorNamx==''){echo'<option value="">请在左侧应用面版中至少添加一个锚点</option>';}
					else{
					if($anchorSelect){echo'<option value="'.$anchorSelect.'" > 锚点：'.$anchorSelect.'</option>';}
					foreach($anchorName as $item){
                       if($item==$anchorSelect){}else{echo'<option value="'.$item.'" > 锚点：'.$item.'</option>';}					
						}}
					?>
				</select>
			</li>
			<li>
				<label for="oppoEffect">切换图片时动画：</label>
				<select id="oppoEffect" name="oppoEffect">
                    <option value="none" <? if($data['oppoEffect']=='none'){echo'selected="selected"';} ?>>无动画</option>
					<option value="june-box-fadein" <? if($data['oppoEffect']=='june-box-fadein'){echo'selected="selected"';} ?>>淡入淡出</option>
					<option value="uptodown" <? if($data['oppoEffect']=='uptodown'){echo'selected="selected"';} ?>>从上方进入</option>
					<option value="downtoup" <? if($data['oppoEffect']=='downtoup'){echo'selected="selected"';} ?>>从下方进入</option>
					<option value="lefttoright" <? if($data['oppoEffect']=='lefttoright'){echo'selected="selected"';} ?>>从左方进入</option>
					<option value="righttoleft" <? if($data['oppoEffect']=='righttoleft'){echo'selected="selected"';} ?>>从右方进入</option>
					<option value="rotation30" <? if($data['oppoEffect']=='rotation30'){echo'selected="selected"';} ?>>旋转30度</option>
					<option value="rotation60" <? if($data['oppoEffect']=='rotation60'){echo'selected="selected"';} ?>>旋转60度</option>
					<option value="rotation90" <? if($data['oppoEffect']=='rotation90'){echo'selected="selected"';} ?>>旋转90度</option>
					<option value="rotation180" <? if($data['oppoEffect']=='rotation180'){echo'selected="selected"';} ?>>旋转180度</option>
					<option value="rotation270" <? if($data['oppoEffect']=='rotation270'){echo'selected="selected"';} ?>>旋转270度</option>
					<option value="rotation360" <? if($data['oppoEffect']=='rotation360'){echo'selected="selected"';} ?>>旋转360度</option>
					<option value="rotation720" <? if($data['oppoEffect']=='rotation720'){echo'selected="selected"';} ?>>旋转720度</option>
				</select>
			</li>
			<li>
				<label for="oppoSpeed">切换图片的速度：</label>
				<select id="oppoSpeed" name="oppoSpeed">
                    <option value="trans05s" <? if($data['oppoSpeed']=='trans05s'){echo'selected="selected"';} ?>>快速</option>
					<option value="trans1s" <? if($data['oppoSpeed']=='trans1s'){echo'selected="selected"';} ?>>中速</option>
					<option value="trans2s" <? if($data['oppoSpeed']=='trans2s'){echo'selected="selected"';} ?>>慢速</option>
				</select>
			</li>
		</ul>
	</div>
	<div id="tabs-2">
		<ul class="setform">
			<li>
				<label for="ii1">应用宽度：</label>
				<input id="ii1" class="setinput" type="text" title="应用的宽度，如需精确调整，请在此处输入数值。" name="width" value="<?=$data['width']?>" />
			</li>
			<li>
				<label for="ii2">应用高度：</label>
				<input id="ii2" class="setinput" type="text" title="应用的高度，如需精确调整，请在此处输入数值。" name="height" value="<?=$data['height']?>" />
			</li>
			<li>
				<label for="ii3">应用上边距：</label>
				<input id="ii3" class="setinput" type="text" title="应用的上边距，如需精确调整，请在此处输入数值。" name="top" value="<?=$data['top']?>" />
			</li>
			<li>
				<label for="ii4">应用左边距：</label>
				<input id="ii4" class="setinput" type="text" title="应用的左边距，如需精确调整，请在此处输入数值。" name="left" value="<?=$data['left']?>" />
			</li>
		</ul>
	</div>
	
</div>
</form>
<script type="text/javascript">
$(function() {
//加载表单样式
	$("#tabs").tabs();
	$("#tForm select").selectmenu();
	$("#oppoEffect").selectmenu("menuWidget");
	$("input, .setform > li > div").buttonset();
	$(".setform").tooltip({
		position: {
			my: "left top",
			at: "left bottom+5"
		},
		show: {
			duration: "fast"
		},
		hide: {
			effect: "hide"
		}
	});
	$(".oppoLinkMode").hide();
	"<?=$data['oppoLinkMode']?>"=="ptlink" && $(".ptlink").show();
	"<?=$data['oppoLinkMode']?>"=="gzlink" && $(".gzlink").show();
	"<?=$data['oppoLinkMode']?>"=="wwlink" && $(".wwlink").show();
	"<?=$data['oppoLinkMode']?>"=="mdlink" && $(".mdlink").show();
	$("#rd1").children("input[name='oppoLinkMode']").click(function() {
		var val = $(this).val();
		$(".oppoLinkMode").hide();
		$("."+val).show();
	});
});
</script>