<div id="footer">
<div class="fcontent">
  <div>专注天猫淘宝模板创意设计与开发,用心做好模板&nbsp;—&nbsp;沃姆设计</div>
	<div><a href="http://www.cnzoom.com/" target="_blank" rel="nofollow">沃姆设计</a> <a href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml" target="_blank" rel="nofollow">版权所有</a></div>

	<div style="width:300px;margin:0 auto; padding:3px 0;">
		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802005272" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010802005272号</p></a>
	</div>
			

</div>
</div>

</body>
</html>