<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" />

<title>沃姆设计 模板装修辅助工具-方便智能的淘宝装修代码生成工具</title>
<meta name="keywords" content="沃姆设计 淘宝装修工具  装修辅助工具  淘宝全屏代码  淘宝特效  淘宝助手  码工助手">
<meta name="description" content="沃姆设计 模板装修辅助工具  店铺定制设计">


<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />

<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />

<link href="{CSS_PATH}Common.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>

<script type="text/javascript" src="{JS_PATH}jquery.cookie.js"></script>

<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>

<script type="text/javascript" src="{JS_PATH}search_common.js"></script>

<script type="text/javascript" src="{JS_PATH}Common.js"></script>

<script type="text/javascript" src="{JS_PATH}layer/layer.js"></script>

<script type="text/javascript" src="{JS_PATH}login/jquery.easing.min.js"></script>

<script type="text/javascript" src="{JS_PATH}login/custom.js"></script>

<link href="{JS_PATH}login/custom.css" rel="stylesheet" type="text/css" />



</head>

<body>


<div class="header">
    <div class="head">
        <div class="logo2">
            <a href="http://www.cnzoom.com">
                <img src="https://img.alicdn.com/imgextra/i3/800803731/TB2UkM7nyRnpuFjSZFCXXX2DXXa_!!800803731.png"></a>
        </div>
        <div class="nnnna">
            <ul id="ddmenu">
                <li class="dflli home"><a target="_blank" class="d-menu" href="http://www.cnzoom.com"><span></span><em>首页</em></a></li>
                <li class="dflli submenu new3">
                    <a target="_blank" href="http://www.cnzoom.com/3.0" class="d-menu"><span></span><em>装修工具</em></a>
                    <ul class="xflul" style="display: none;">                       
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/3.0" class="x-menu">新版工具3.0</a>
                        </li>
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/new" class="x-menu">旧版工具2.0</a>
                        </li>
                    </ul>
                </li>
                <li class="dflli"><a target="_blank" href="http://www.cnzoom.com/guide/tool.html" class="d-menu">教程帮助</a></li>
                <li class="dflli submenu">
                    <a target="_blank" class="d-menu"><em>其他工具</em><span></span></a>
                    <ul class="xflul" style="display: none;">
                        
                       <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/gm" class="x-menu">手机端链接转换工具</a>
                        </li>
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/shouji" class="x-menu">手机端装修工具</a>
                        </li>         
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/tool/gif" class="x-menu">手机端Gif转换工具</a>
                        </li>         
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/tool/nav" class="x-menu">导航样式修改工具</a>
                        </li>
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/zxn/color" class="x-menu">色码值获取工具</a>
                        </li>
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/tool/bgfixed.html" class="x-menu">固定背景生成工具</a>
                        </li>
                        <li class="xflli">
                            <a target="_blank" href="http://www.cnzoom.com/zxd/index.php" class="x-menu">京东装修工具</a>
                        </li>
                    </ul>
                </li>
                <li class="dflli submenu">
                    <a target="_blank" href="https://zxn.taobao.com/designer_detail.htm?spm=a215h.7721252.0.0.Oo0wVD&designerId=1016893" class="d-menu"><em>全部模板</em><span></span></a>
                    <ul class="xflul" style="display: none;">
                        <li class="xflli">
                            <a target="_blank" href="https://zxn.taobao.com/designer_detail.htm?&amp;designerId=1016893&amp;productType=0&amp;site=3" class="x-menu">天猫模板</a>
                        </li>
                        <li class="xflli">
                            <a target="_blank" href="https://zxn.taobao.com/designer_detail.htm?&amp;designerId=1016893&amp;productType=0&amp;site=2" class="x-menu">淘宝模板</a>
                        </li>
                        <li class="xflli">
                            <a target="_blank" href="https://zxn.taobao.com/designer_detail.htm?spm=a215h.7721252.1998546510.6.qvSIcI&designerId=1016893&productType=0&site=1003" class="x-menu">手机模板</a>
                        </li>
                    </ul>
                </li>
                <li class="dflli" style="display: none;"><a target="_blank" href="" class="d-menu">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>


<!---
<div class="header">
    <div class="head">
        <div class="logo2"><a href="{siteurl($siteid)}"><img src="https://img.alicdn.com/imgextra/i3/800803731/TB2UkM7nyRnpuFjSZFCXXX2DXXa_!!800803731.png"></a></div>

        <div class="nnnna" >

		{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}

            <ul id="ddmenu">

                <li class="dflli"><a href="{siteurl($siteid)}">首页</a></li>

				{loop $data $r}

                <li class="dflli{if $catid==$r[catid] || $top_parentid==$r[catid]} menu-active{/if}">

                    <a href="{$r[url]}" class="d-menu" {if $r[catid]==11||$r[catid]==17}target="_blank" {/if}{if $r[catid]==11}style="position:relative; color:#f60"{/if}>{$r[catname]}{if $r[catid]==11}<span style="position:absolute; top:22px; right:8px; "><img src="/statics/images/n1.png"></span>{/if}</a>

                         {pc:content action="category" catid="$r['catid']" num="10" siteid="$siteid" order="listorder ASC"}

                           {if $data}

                           <ul class="xflul">

                            {loop $data $rr}

                            <li  class="xflli"><a href="{$rr[url]}" class="x-menu" {if $rr[catid]==18||$rr[catid]==19||$rr[catid]==23||$rr[catid]==24}target="_blank" {/if}>{$rr[catname]}</a></li>

                            {/loop}

                            </ul>

                            {/if}

							{/pc}

                    </li>

					{/loop}

                    </ul>

					{/pc}

        </div>
    </div>
</div>

-->


